<p>
<b>User Name: </b>
<%= @user.login %>
</p>

<p>
<b>Single Access Token: </b>
<span id="sat"><%= render :partial => 'token'  %></span>
<%= link_to 'Reset single access token', ajaxreset_account_path, :remote => true %>
</p>

<%= link_to 'Edit', edit_account_path %>
